

.skills{
	border-top: 1px solid var(--borderColor);
	overflow: auto;
	margin-bottom: 50px;
	padding: 0px 15px;
}
.skills_h4{    text-align: center;}
.skill{
	display: block;
	float: left;
	width: 48%;
	background-color: #e5e7eb;
	margin: 10px 1%;
	padding: 10px;
	border-radius: 5px;
	color: #000;
	font-weight: 600;
}
.skill__icon{
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 15px;
	background-size: contain;
	background-repeat: no-repeat;
}
.skill__icon_HT{background-image: url(../../img/icon-HT.png);}
.skill__icon_CS{background-image: url(../../img/icon-CS.png);}
.skill__icon_Ja{background-image: url(../../img/icon-Ja.png);}
.skill__icon_ES{background-image: url(../../img/icon-ES.png);}
.skill__icon_Re{background-image: url(../../img/icon-Re.png);}
.skill__icon_Rd{background-image: url(../../img/icon-Rd.png);}
.skill__icon_jQ{background-image: url(../../img/icon-jQ.png);}
.skill__icon_Gt{background-image: url(../../img/icon-Gt.png);}
.skill__score{    
	float: right;
	font-weight: 500;}
.skill__score_blue{    color: #76a9fa;}
.skill__score_green{    color: #31c48d;}

@media (max-width: 570px){
	.skills .skill{
		width: 98%;
  }
}